fifa19
Introduction to Scikit-Learn (sklearn) - Jupyter Notebook_files
car-sales-extended-missing-data.csv
car-sales-extended.csv
car-sales-missing-data.csv
car_sales.csv
data.csv
fifa19.zip
heart-disease.csv
Introduction to Scikit-Learn (sklearn) - Jupyter Notebook.html
mlbrain.joblib
original.csv
random_forest_model1.pkl
sample_plot.png
test.html